/.gitattributes          export-ignore
/.github                 export-ignore
/.gitignore              export-ignore
/art                     export-ignore
/phpstan.neon.dist       export-ignore
/pint.json               export-ignore
/CHANGELOG.md            export-ignore